In [18]:
import pandas as pd
from sklearn.decomposition import PCA
import numpy as np
from importnb import  Notebook

with Notebook():
  import MultivariateAnalysis

df = MultivariateAnalysis.df

In [19]:
df_transport = df[['City','Private Vehicle','Public Transport','Bicycle','Walk','Other','Public Transport Affordability']].copy()
print(df_transport)

          City  Private Vehicle  Public Transport   Bicycle      Walk  \
0    Amsterdam         0.227397          0.385524  1.000000  0.461495
1       Athens         0.495326          0.555293  0.087478  0.734524
2       Berlin         0.421298          0.638468  0.328220  0.127709
3   Bratislava         0.484902          0.674768  0.151414  0.476658
4     Brussels         0.545339          0.612680  0.185290  0.264884
5    Bucharest         0.281972          0.814741  0.109849  0.459533
6     Budapest         0.352743          0.731906  0.097410  0.484846
7   Copenhagen         0.210364          0.379314  0.872803  0.272483
8       Dublin         0.580843          0.467110  0.158343  0.273896
9     Helsinki         0.336331          0.630513  0.255837  0.793973
10      Lisbon         0.767011          0.517152  0.112943  0.153525
11   Ljubljana         0.628014          0.299581  0.334260  0.489529
12  Luxembourg         0.673118          0.658335  0.278572  0.266637
13      Madrid         0.471471          0.674315  0.048044  0.668402
14     Nicosia         1.000000          0.000000  0.138568  0.260839
15       Paris         0.134973          0.855493  0.263478  1.000000
16      Prague         0.409353          1.000000  0.113641  0.321282
17        Riga         0.594062          0.582790  0.113794  0.295420
18        Rome         0.907423          0.365934  0.000000  0.108694
19       Sofia         0.581634          0.525283  0.079436  0.278843
20   Stockholm         0.000000          0.803698  0.406951  0.865137
21     Tallinn         0.636663          0.545709  0.091269  0.325178
22    Valletta         0.764152          0.334524  0.136346  0.000000
23      Vienna         0.304189          0.665141  0.294991  0.559269
24     Vilnius         0.654373          0.444552  0.027285  0.297781
25      Warsaw         0.420997          0.744786  0.177444  0.282588
26      Zagreb         0.413758          0.626477  0.149166  0.293653

       Other  Public Transport Affordability
0   0.291024                        0.187500
1   0.388122                        0.820938
2   0.503564                        0.468750
3   0.315551                        0.859375
4   0.655863                        0.693750
5   1.000000                        0.390625
6   0.227905                        0.665625
7   0.281853                        0.437500
8   0.153200                        0.000000
9   0.241866                        0.546875
10  0.000000                        0.682813
11  0.290753                        0.684375
12  0.854692                        1.000000
13  0.127255                        0.832812
14  0.159795                        0.746875
15  0.139059                        0.312500
16  0.320146                        0.968750
17  0.207361                        0.664062
18  0.481949                        0.821875
19  0.635504                        0.754687
20  0.824830                        0.406250
21  0.895299                        1.000000
22  0.203286                        1.000000
23  0.735714                        0.821406
24  0.299850                        0.656250
25  0.325468                        0.729688
26  0.387942                        0.484375

In [20]:
# Invert Values perceived as Negative
df_transport['Private Vehicle'] = df_transport['Private Vehicle'] * -1
print(df_transport)

          City  Private Vehicle  Public Transport   Bicycle      Walk  \
0    Amsterdam        -0.227397          0.385524  1.000000  0.461495
1       Athens        -0.495326          0.555293  0.087478  0.734524
2       Berlin        -0.421298          0.638468  0.328220  0.127709
3   Bratislava        -0.484902          0.674768  0.151414  0.476658
4     Brussels        -0.545339          0.612680  0.185290  0.264884
5    Bucharest        -0.281972          0.814741  0.109849  0.459533
6     Budapest        -0.352743          0.731906  0.097410  0.484846
7   Copenhagen        -0.210364          0.379314  0.872803  0.272483
8       Dublin        -0.580843          0.467110  0.158343  0.273896
9     Helsinki        -0.336331          0.630513  0.255837  0.793973
10      Lisbon        -0.767011          0.517152  0.112943  0.153525
11   Ljubljana        -0.628014          0.299581  0.334260  0.489529
12  Luxembourg        -0.673118          0.658335  0.278572  0.266637
13      Madrid        -0.471471          0.674315  0.048044  0.668402
14     Nicosia        -1.000000          0.000000  0.138568  0.260839
15       Paris        -0.134973          0.855493  0.263478  1.000000
16      Prague        -0.409353          1.000000  0.113641  0.321282
17        Riga        -0.594062          0.582790  0.113794  0.295420
18        Rome        -0.907423          0.365934  0.000000  0.108694
19       Sofia        -0.581634          0.525283  0.079436  0.278843
20   Stockholm        -0.000000          0.803698  0.406951  0.865137
21     Tallinn        -0.636663          0.545709  0.091269  0.325178
22    Valletta        -0.764152          0.334524  0.136346  0.000000
23      Vienna        -0.304189          0.665141  0.294991  0.559269
24     Vilnius        -0.654373          0.444552  0.027285  0.297781
25      Warsaw        -0.420997          0.744786  0.177444  0.282588
26      Zagreb        -0.413758          0.626477  0.149166  0.293653

       Other  Public Transport Affordability
0   0.291024                        0.187500
1   0.388122                        0.820938
2   0.503564                        0.468750
3   0.315551                        0.859375
4   0.655863                        0.693750
5   1.000000                        0.390625
6   0.227905                        0.665625
7   0.281853                        0.437500
8   0.153200                        0.000000
9   0.241866                        0.546875
10  0.000000                        0.682813
11  0.290753                        0.684375
12  0.854692                        1.000000
13  0.127255                        0.832812
14  0.159795                        0.746875
15  0.139059                        0.312500
16  0.320146                        0.968750
17  0.207361                        0.664062
18  0.481949                        0.821875
19  0.635504                        0.754687
20  0.824830                        0.406250
21  0.895299                        1.000000
22  0.203286                        1.000000
23  0.735714                        0.821406
24  0.299850                        0.656250
25  0.325468                        0.729688
26  0.387942                        0.484375

In [21]:
# Equal Weights except for Other
weights = [0.18, 0.18, 0.18, 0.18, 0.1, 0.18]
df_transport['Transport Index'] = df_transport[['Private Vehicle','Public Transport','Bicycle','Walk','Other','Public Transport Affordability']].dot(weights)
df_transport = df_transport.sort_values(by='Transport Index', ascending=False, ignore_index=True)
print(df_transport[['City', 'Transport Index']])

          City  Transport Index
0    Stockholm         0.529250
1       Vienna         0.440163
2        Paris         0.427275
3       Prague         0.390992
4    Bucharest         0.368700
5     Helsinki         0.364543
6   Luxembourg         0.360946
7    Amsterdam         0.354384
8       Athens         0.345335
9   Copenhagen         0.343498
10  Bratislava         0.333472
11     Tallinn         0.328119
12      Madrid         0.328104
13    Budapest         0.315658
14      Warsaw         0.304978
15    Brussels         0.283614
16      Berlin         0.255889
17       Sofia         0.253741
18      Zagreb         0.243979
19   Ljubljana         0.241427
20        Riga         0.211897
21     Vilnius         0.168854
22    Valletta         0.147538
23      Lisbon         0.125896
24        Rome         0.118229
25      Dublin         0.072651
26     Nicosia         0.042310